header {
    height: 10%;
    background-color: #4dd7ec;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.6);
}

header h1 {
    color: #dbf0f3;
    font-size: 20px;
}

header nav {
    width: 125px;
    display: flex;
    justify-content: space-around;
}

header nav img, footer img {
    width: 25px;
    height: 25px;
    transform: scale(1);
    transition: .4s;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.1);
        transition: .4s;
    }
}