main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label h4 {
    
    text-align: center;
    text-transform: uppercase;
}

label input {
    all: unset;
    border-bottom: 1px solid #d1e9ec;
    font-size: 15px;
    height: 30px;
    margin-bottom: 15px;

    &:focus {
        border-bottom: 1px solid #4dd7ec;
    }
}

.form__resultado {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    text-align: center;
}

.form__resultado h5 {
    text-transform: uppercase;
}

.form__resultado h5, h6{
    font-size: 0.9375rem;
}

.form__resultado p {
    font-size: 22px;
    font-weight: 600;
}

button {
    all: unset;
    width: 100%;
    background-color: #4dd7ec;
    border-radius: 3px;
    color: #dbf0f3;
    padding: 8px 1px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.4);

    &:hover {
        color: #d1e9ec;
        cursor: pointer;
        opacity: 0.7;
    }
}